.customer-form-wrapper {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    text-align: -webkit-center;
}
.customer-form{
    width: 60%;
}
.error{
    color:red;
}